<div class="l-main">
  <div class="l-content">
    <div id="app--body" class="container">
      {{{markup}}}
    </div>
  </div>
  <script src="/dist/js/app.js"></script>
  <script id="app-state" type="application/json">{{{ state }}}</script>
</div>
